<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>
        <add key="IpCatalog" value="F:\Dropbox\MailData\spam-ip-catalog.xml" />
    </appSettings>
    <connectionStrings>
        <add name="IpCatalog" connectionString="Server=db.clarkzoo.org;Database=ipCatalog;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>